DATABASE_URL="postgresql://postgres:password@localhost:5432/zdravy_shot?schema=public"
SESSION_SECRET="vygenerujte-prikazom-openssl-rand-hex-32"
INBOX_API_KEY="vygenerujte-prikazom-openssl-rand-hex-32"
